* {
  background-color: lightgrey;
  box-sizing: border-box;
}

input, button {
  margin-right: 1rem;
}

.container {
  width: 960px;
  height: 960px;
  margin-top: 1rem;
  display: grid;
}

.grid-cell {
  background-color: white;
  margin: 0px;
  padding: 0px;
}

#gridsize:invalid {
  background-color: pink;
}